*{
    padding: 0%;
    margin: 0%;
}

body{font-family: Helvetica}

header{
    display: flex;
    height: 80px;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #1c0d3d;
    color: white;
    justify-content:space-between;
    align-items: center;
}
#nome{
    font-size: 50px;
}
main {
    margin: 100px;
    display: flex;
    justify-content: center;
}
#esquerdo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#foto {
    justify-content: center;
    margin-right: 20px;
    width:  260px;
    height: 260px;
    overflow: hidden; /* Garante que a imagem não ultrapasse os limites do contêiner */
    border-radius: 50%; /* Define a borda redonda */    
}
#novaImagem{
    margin-top: 20px;
    margin-bottom: 5px;
}
#direito {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 150px;
}

#info {
    background-color: rgb(201, 200, 200);
    width: 500px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    font-size: large;
}

#alt {
    background-color: rgb(201, 200, 200);
    width: 70px;
    height: 30px;
    margin-top: 20px;
}
#foto {
    display: flex;
    margin-right: 20px; /* Adiciona uma margem à direita para separar a foto do conteúdo */
}
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: beige;
    height: 50px;
    margin-top: 20px;
    padding: 0;
    width: 100%;
    background-color: hsla(0, 0%, 0%, 0.548);
    position: fixed;
    bottom: 0;
}
@media screen and (max-width:570px){
main{margin:30px;
}
#nome{font-size:35px;}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#direito,#esquerdo{
    margin: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}
#fot{
    margin-top: 0;
    margin-left: 0;
}
#info{
    background-color: rgb(201, 200, 200);
    width: 350px;
    padding-left: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);    
    margin-top: 20px;
    margin-bottom: 0; 
    font-size: large;
    height: 250px;
}
#foto img {
    width: 270px; /* Ajuste o tamanho conforme necessário para a versão mobile */
    height: 230px; /* Ajuste o tamanho conforme necessário para a versão mobile */
}
#add{
    width: 50px;
    height: 40px;
    font-size: x-large;
    margin-top:30px;
    margin-bottom: 15px;
}
#alt{
    width: 80px;
    height: 40px;
    font-size:20px;
    margin-top: 30px;
}
#foto{
    height: 200px;
    width: 200px;
    justify-content: center;
}
p{font-weight: bold;
}
}